@model Amatzia.Models.Recepie

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/UserDelete.css",
              "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

<div class="loginDiv">
    <div class="loginForm form-horizontal">

        <h1>Delete recipe</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <hr />
            <h3>Are you sure you want to delete this recepie?</h3>
            <hr />
            <div id="modelDetails">
                <div>
                    <span class="title">
                        @Html.DisplayNameFor(recepie => recepie.Name)
                    </span>
                    @Html.DisplayFor(recepie => recepie.Name)
                </div>
                <div>
                    <span class="title">
                        @Html.DisplayNameFor(recepie => recepie.Ingredients)
                    </span>
                    @Html.DisplayFor(recepie => recepie.Ingredients)
                </div>
                <div>
                    <span class="title">
                        @Html.DisplayNameFor(recepie => recepie.Instructions)
                    </span>
                    @Html.DisplayFor(recepie => recepie.Instructions)
                </div>
                <div>
                    <span class="title">
                        @Html.DisplayNameFor(recepie => recepie.Difficulty)
                    </span>
                    @Html.DisplayFor(recepie => recepie.Difficulty)
                </div>
                <div>
                    <span class="title">
                        @Html.DisplayNameFor(recepie => recepie.duration)
                    </span>
                    @Html.DisplayFor(recepie => recepie.duration)
                </div>
                <div>
                    <span class="title">
                        @Html.DisplayNameFor(recepie => recepie.User.UserName)
                    </span>
                    @Html.DisplayFor(recepie => recepie.User.UserName)
                </div>
                <hr />
                <p>
                    @Html.ActionLink(".", "Index", new { RecepieId = Model.Id }, new { @class = "btn-link btn-login fa fa-arrow-left icons" })
                    <input type="submit" value="Delete" class="btn btn-danger btn-del" />

                </p>
                <br />
            </div>
                    }
        </div>
        </div>
