@model Amatzia.Models.Recepie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/RecipeDetails.css",
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

<div class="loginDiv">
    <div class="loginForm form-horizontal">

        <h1>Recipe details</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div id="modelDetails"  class="col-am-6">
            <hr />
            <div>
                <span class="title">
                    @Html.DisplayNameFor(recepie => recepie.Name):
                </span>
                @Html.DisplayFor(recepie => recepie.Name)
            </div>

            <div>
                <span class="title">
                    @Html.DisplayNameFor(recepie => recepie.Ingredients):
                </span>
                @Html.DisplayFor(recepie => recepie.Ingredients)
            </div>
            <div>
                <span class="title">
                    @Html.DisplayNameFor(recepie => recepie.Instructions):
                </span>
                @Html.DisplayFor(recepie => recepie.Instructions)
            </div>
            <div>
                <span class="title">
                    @Html.DisplayNameFor(recepie => recepie.Difficulty)
                </span>
                @Html.DisplayFor(recepie => recepie.Difficulty)
            </div>
            <div>
                <span class="title">
                    @Html.DisplayNameFor(recepie => recepie.UploadDate):
                </span>
                @Html.DisplayFor(recepie => recepie.UploadDate)
            </div>
            <div>
                <span class="title">
                    @Html.DisplayNameFor(recepie => recepie.duration):
                </span>
                @Html.DisplayFor(recepie => recepie.duration)
            </div>
            <div>
                <span class="title">
                    @Html.DisplayNameFor(recepie => recepie.UserId):
                </span>
                @Html.DisplayFor(recepie => recepie.UserId)
            </div>

            @if (Model.Comments != null && Model.Comments.Count > 0)
            {
                <hr />

                <section id="comments">
                    <span class="title">
                        Comments:
                    </span>
                    @foreach (var comment in Model.Comments)
                    {
                        <article>
                            <div>
                                <span class="title">
                                    @Html.DisplayNameFor(modelItem => comment.Title):
                                </span>
                                @Html.DisplayFor(modelItem => comment.Title)
                            </div>
                            <div>
                                <span class="title">
                                    @Html.DisplayNameFor(modelItem => comment.UserId):
                                </span>
                                @Html.DisplayFor(modelItem => comment.UserId)
                            </div>
                            <div>
                                <span class="title">
                                    @Html.DisplayNameFor(modelItem => comment.Content):
                                </span>
                                @Html.DisplayFor(modelItem => comment.Content)
                            </div>
                        </article>
                    }
                </section>
            }
        </div>
        <div class="col-am-6 my-canvas">
            <canvas id="myCanvas" width="500" height="500"></canvas>
            <script>
                var canvas = document.getElementById('myCanvas');
                var context = canvas.getContext('2d');
                var imageObj = new Image();

                imageObj.onload = function () {
                    context.drawImage(imageObj, 69, 50);
                };
                imageObj.src = '../Images/recipe.jpg';
            </script>
        </div>
        }
        <p>
            @Html.ActionLink(".", "Index", new { RecepieId = Model.Id }, new { @class = "btn-link btn-login fa fa-arrow-left icons" })

            @Html.ActionLink(".", "Edit", new { RecepieId = Model.Id }, new { @class = "btn-link btn-actions fa fa-edit icons" })
        </p>
    </div>
</div>
}