@model IEnumerable<Amatzia.Models.Recepie>

@{
    ViewBag.Title = "Recepies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Recipes.css", "~/Content/Bootstrap.css")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    

    <div class="loginDiv">
        <div class="loginForm form-horizontal">
            <h1>@ViewBag.Title</h1>

            <hr />
            <div class="flex-container">
                @if (Model.Count() > 0)
                {
                    foreach (var recepie in Model)
                    {
                        <a class="link" href="@Url.Action("Details", "Recepie")">
                            <div class="recipe">
                                <label>
                                    @Html.DisplayFor(modelItem => recepie.Name)
                                    by
                                    @Html.DisplayFor(modelItem => recepie.UserId)
                                </label>
                                <br />
                                <label>Duration:</label>
                                @Html.DisplayFor(modelItem => recepie.duration)
                                <br />
                                <label>Difficulty:</label>
                                @Html.DisplayFor(modelItem => recepie.Difficulty)
                            </div>
                        </a>
                    }
                }
                <button class="fab">
                    <a class="link" href="@Url.Action("Create", "Recepie")">+</a>
                </button>
            </div>
            <hr />
        </div>
    </div>
}
