@model Amatzia.Models.User

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/About.css")



<div class="loginDiv">
    <div class="loginForm form-horizontal">
        <h1>@ViewBag.Title</h1>
        <h3>@ViewBag.Message</h3>

        <br />
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.EditorFor(user => user.UserName, new { htmlAttributes = new { @class = "form-control col-md-6", placeholder = @Html.DisplayNameFor(model => model.UserName) } })
                @Html.ValidationMessageFor(user => user.UserName, "", new { @class = "text-danger col-md-6" })
            </div>

            <br />
            <div class="form-group">
                @Html.EditorFor(user => user.Password, new { htmlAttributes = new { @class = "form-control col-md-6", placeholder = @Html.DisplayNameFor(model => model.Password) } })
                @Html.ValidationMessageFor(user => user.Password, "", new { @class = "text-danger col-md-6" })
            </div>

            <br />
            <div>
                @Html.Label("", (string)ViewBag.Message)
            </div>
            <div class="text-center">
                <a href="@Url.Action("Create", "User")">New to Amatzia? Sign Up</a>
            </div>

        }
    </div>
    <hr />
    <div class="submitButton">
        <input type="submit" value="Login" class="btn-primary btn-login" />
    </div>
</div>

