@model Amatzia.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}

@Styles.Render("~/Content/Login.css")

<div class="loginDiv">
    <div class="loginForm">
        <h1>Log in to Amatzia</h1>
        <br />
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <table>
                <tr>
                    <td>@Html.LabelFor(a => a.UserName)</td>
                    <td>@Html.TextBoxFor(a => a.UserName)</td>
                    <td>@Html.ValidationMessageFor(a => a.UserName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(a => a.Password)</td>
                    <td>@Html.PasswordFor(a => a.Password)</td>
                    <td>@Html.ValidationMessageFor(a => a.Password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <br />
                        <div class="submitButton">
                            <input type="submit" value="Login" />
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <br />
                        <a href="@Url.Action("Create", "User")">New to Amatzia? Sign Up</a>
                    </td>
                    <td></td>
                </tr>
            </table>
        }

    </div>
</div>

