@model Amatzia.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Login/_LoginLayoutPage.cshtml";
}

<div id="mainContent">
    <h2>Login</h2>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken() 
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td>@Html.LabelFor(a => a.UserName)</td>
                <td>@Html.TextBoxFor(a => a.UserName)</td>
                <td>@Html.ValidationMessageFor(a => a.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.Password)</td>
                <td>@Html.PasswordFor(a => a.Password)</td>
                <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="@Url.Action("Create", "User")">Don't have an account? Sign In</a>
                </td>
                <td></td>
            </tr>
        </table>
    }

</div>

