@model Amatzia.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="modelDetails">
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(user => user.FirstName):
            </dt>

            <dd>
                @Html.DisplayFor(user => user.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(user => user.LastName):
            </dt>

            <dd>
                @Html.DisplayFor(user => user.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(user => user.Gender):
            </dt>

            <dd>
                @Html.DisplayFor(user => user.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(user => user.DateOfBirth):
            </dt>

            <dd>
                @Html.DisplayFor(user => user.DateOfBirth)
            </dd>
            <dt>
                @Html.DisplayNameFor(user => user.Country):
            </dt>
            <dd>
                @Html.DisplayFor(user => user.Country)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { UserId = Model.UserId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
